@model Product


<div class="col">
    <div class="card shadow-sm">
        <a href="/Products/Detail/@Model.Id">
            <img class="bd-placeholder-img card-img-top" src="/img/@Model.Image" alt=@Model.Name style="height:200px" />
        </a>
        <div class="card-body">
            <p class="card-text">
                @Model.Name
            </p>

        </div>
    </div>
</div>