@model MMStore.Entities.Contact

@{
    ViewData["Title"] = "İletişim";
}



<!-- ======= Breadcrumbs ======= -->
<section id="breadcrumbs" class="breadcrumbs">
    <div class="container">

        <div class="d-flex justify-content-between align-items-center">
            <h2>İletişim</h2>
            <ol>
                <li><a href="/">Anasayfa</a></li>
                <li>İletişim</li>
            </ol>
        </div>

    </div>
</section><!-- End Breadcrumbs -->
<!-- ======= Contact Section ======= -->
<div class="map-section">


    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3124.414221792903!2d27.11720037655881!3d38.45499737182197!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14bbd9c9e4a79ed7%3A0x18682929e2222556!2zRG9uYW5tYWPEsSwgS2FyxZ_EsXlha2EgxLBza2VsZSBNZXlkYW7EsSwgS2FyxZ_EsXlha2EvxLB6bWly!5e0!3m2!1str!2str!4v1667911646866!5m2!1str!2str" style="border:0; width: 100%; height: 350px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>

<section id="contact" class="contact">
    <div class="container">

        <div class="row justify-content-center" data-aos="fade-up">

            <div class="col-lg-10">

                <div class="info-wrap">
                    <div class="row">
                        <div class="col-lg-4 info">
                            <i class="bi bi-geo-alt"></i>
                            <h4>Adresimiz:</h4>
                            <p>Karşıyaka<br>İzmir, 35000</p>
                        </div>

                        <div class="col-lg-4 info mt-4 mt-lg-0">
                            <i class="bi bi-envelope"></i>
                            <h4>Email:</h4>
                            <p>info@mmstore.com<br>contact@mmstore.com</p>
                        </div>

                        <div class="col-lg-4 info mt-4 mt-lg-0">
                            <i class="bi bi-phone"></i>
                            <h4>Tel:</h4>
                            <p>+90 507 666 1106<br>+90 507 666 1106</p>
                        </div>
                    </div>
                </div>

            </div>

        </div>

        <div class="row mt-5 justify-content-center" data-aos="fade-up">
            <div class="col-lg-10">
                <form asp-action="ContactUs" method="post" role="form" class="php-email-form" id="iletisimFormu">
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <input type="text" name="Name" class="form-control" id="Name" placeholder="Adınız" required>
                        </div>
                        <div class="col-md-6 form-group mt-3 mt-md-0">
                            <input type="text" class="form-control" name="Surname" id="Surname" placeholder="Soyadınız" required>
                        </div>
                    </div>
                    <div class="form-group mt-3">
                        <input type="email" class="form-control" name="Email" id="Email" placeholder="Email" required>
                    </div>
                    <div class="form-group mt-3">
                        <input type="text" class="form-control" name="Phone" id="Phone" placeholder="Telefon" required>
                    </div>
                    <div class="form-group mt-3">
                        <textarea class="form-control" name="Message" id="Message" rows="5" placeholder="Mesaj" required></textarea>
                    </div>
                    @Html.Raw(TempData["mesaj"])
                    <div class="my-3">
                        <div class="loading">Loading</div>
                        <div class="error-message"></div>
                        <div class="sent-message">Mesajınız Gönderildi. Teşekkürler!</div>
                    </div>
                    <div class="text-center"><button type="submit" onclick="iletisim_formu()">Mesajı Gönder</button></div>
                </form>
            </div>

        </div>

    </div>
</section><!-- End Contact Section -->
@section Scripts{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script>
        function iletisim_formu() {
            var name = $("#Name").val();
            var surname = $("#Surname").val();
            var email = $("#Email").val();
            var phone = $("#Phone").val();
            var message = $("#Message").val();

            var entity = {
                "Name": name,
                "Surname": surname,
                "Email": email,
                "Phone": phone,
                "Message": message
            }

            event.preventDefault();

            $.ajax({
                method: "POST",
                erl: "/Home/ContactUs",
                type: "json",
                data: entity,
                success: function (data) {
                   document.getElementById("iletisimFormu").reset();
                    $(".sent-message").show();
                },
                error: function (err) {
                    $(".error-message").show().html("Hata Oluştu! Mesajınız Gönderilemedi!");
                }
            });
        }
    </script>
}
