 <!-- ======= Footer ======= -->
<footer id="footer">

    <div class="footer-top">
        <div class="container">
            <div class="row">

                <div class="col-lg-3 col-md-6 footer-contact">
                    <h3>MM Store</h3>
                    <p>
                        Karşıyaka <br>
                        İzmir, 35000<br>
                        Türkiye <br><br>
                        <strong>Tel:</strong> +90 507 666 1106<br>
                        <strong>Email:</strong> info@mmstore.com<br>
                    </p>
                </div>

                <div class="col-lg-2 col-md-6 footer-links">
                    <h4>Önemli Linkler</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="/">Anasayfa</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Hakkımızda</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="/Brands">Markalar</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="/News">Haberler</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Gizlilik Politikamız</a></li>
                    </ul>
                </div>

               

                <div class="col-lg-4 col-md-6 footer-newsletter">
                    <h4>E Bültene Kaydolun</h4>
                    <p>E bültenimize abone olarak kampanya ve indirimlerden haberdar olabilirsiniz.</p>
                    <form action="" method="post">
                        <input placeholder="E mail adresinizi giriniz..." type="email" name="email"><input type="submit" value="Abone Ol">
                    </form>
                </div>

            </div>
        </div>
    </div>

    <div class="container d-md-flex py-4">

        <div class="me-md-auto text-center text-md-start">
            <div class="copyright">
                &copy; Copyright <strong><span>MM Store</span></strong>. Tüm hakları saklıdır.
            </div>
            <div class="credits">
               
                Designed by <a href="#">Mahmut Mızraklıdağ</a>
            </div>
        </div>
        <div class="social-links text-center text-md-right pt-3 pt-md-0">
            <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
            <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
            <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
            <a href="#" class="google-plus"><i class="bx bxl-google"></i></a>
            <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        </div>
    </div>
</footer><!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>