<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MMStore.WebUIAPIUsing</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="/Flattern/assets/img/favicon.png" rel="icon">
    <link href="/Flattern/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Muli:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="/Flattern/assets/vendor/animate.css/animate.min.css" rel="stylesheet">
    <link href="/Flattern/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="/Flattern/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/Flattern/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/Flattern/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="/Flattern/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="/Flattern/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="/Flattern/assets/css/style.css" rel="stylesheet">
</head>
<body>
    <!-- ======= Top Bar ======= -->
    <section id="topbar" class="d-flex align-items-center">
        <div class="container d-flex justify-content-center justify-content-md-between">
            <div class="contact-info d-flex align-items-center">
                <i class="bi bi-envelope d-flex align-items-center"><a href="mailto:contact@example.com">contact@example.com</a></i>
                <i class="bi bi-phone d-flex align-items-center ms-4"><span>+1 5589 55488 55</span></i>
            </div>
            <div class="social-links d-none d-md-flex align-items-center">
                <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></i></a>
            </div>
        </div>
    </section>

    <!-- ======= Header ======= -->
    <header id="header" class="d-flex align-items-center">
        <div class="container d-flex justify-content-between">

            <div class="logo">
                <h1 class="text-light"><a href="index.html">Flattern</a></h1>
                <!-- Uncomment below if you prefer to use an image logo -->
                <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
            </div>

            <nav id="navbar" class="navbar">
                <ul>
                    <li><a class="active" href="/">Anasayfa</a></li>
                    @await Component.InvokeAsync("Categories")
                        @await Component.InvokeAsync("Brands")
                    
                    <li><a href="/Home/ContactUs">İletişim</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->

        </div>
    </header><!-- End Header -->
    <main id="main">
        @RenderBody()
    </main>

    <partial name="_FooterPartial" />
    <!-- Vendor JS Files -->
    <script src="/Flattern/assets/vendor/aos/aos.js"></script>
    <script src="/Flattern/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/Flattern/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="/Flattern/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="/Flattern/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="/Flattern/assets/vendor/waypoints/noframework.waypoints.js"></script>
    <script src="/Flattern/assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="/Flattern/assets/js/main.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
