@model Product


<div class="col-lg-4 col-md-6 portfolio-item filter-app">
    <a href="/Products/Detail/@Model.Id">
    <img src="/img/@Model.Image" class="img-fluid" alt="@Model.Name">
    </a>
    <div class="portfolio-info">
        <h4>@Model.Name</h4>
        
        <a href="/img/@Model.Image" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 1"><i class="bx bx-plus"></i></a>
        <a href="/Products/Detail/@Model.Id" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
    </div>
</div>