@model IEnumerable<Slider>
<!-- ======= Hero Section ======= -->
<section id="hero">

    <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

        <div class="carousel-inner" role="listbox">

            @foreach (var item in Model)
            {

                <div class="carousel-item @(item==Model.FirstOrDefault() ? "active" : "")" style="background-image: url(/img/@item.Image);">
                    <div class="carousel-container">
                        <div class="carousel-content animate__animated animate__fadeInUp">
                            <h2>@item.Title</h2>
                            <p>@item.Description</p>
                            <div class="text-center"><a href="@item.Link" class="btn-get-started">İncele</a></div>
                        </div>
                    </div>
                </div>

            }




        </div>

        <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon bx bx-left-arrow" aria-hidden="true"></span>
        </a>

        <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon bx bx-right-arrow" aria-hidden="true"></span>
        </a>

        <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

    </div>

</section><!-- End Hero -->